.container.col-4.py-5
  .card.shadow
    .card-header
      %h1.fs-3.fw-semibold Nouveau Compte
    .card-body
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.error_notification
        .row 
          .col-3
          .col-3
            = f.input :email, required: true, autofocus: true, label: false, input_html: { autocomplete: "email", placeholder: 'Email' }
          .col-3

        .row
          .col-6
            = f.input :password, required: true, label: false, input_html: { autocomplete: "new-password", placeholder: 'Mot de passe' }
          .col-6
            = f.input :password_confirmation, label: false,required: true,input_html: { autocomplete: "new-password", placeholder: 'Confirmation Mot de passe' }
        -# .row
        -#   = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
        .row.mt-4
          = f.button :submit, "Enregistrer", class: 'btn btn-primary btn-sm'
    .card-footer
      = render "devise/shared/links"


