.container-fluid
  .card.my-2
    = render 'shared/card/card_header', title: 'Rechercher'
    .card-body 
      = search_form_for @q, url: users_path, html: {method: :get}, defaults: {required: false}, builder: SimpleForm::FormBuilder do |f|
        .row
          .col-4
            = f.input :first_name_cont, label: false, input_html: {type: 'text'}, placeholder: 'first_name' 
          .col-4
            = f.input :last_name_cont, label: false, input_html: {type: 'text'}, placeholder: 'last_name' 
          .col-4
            = f.input :role_name_eq, label: false, as: :select, collection: Role.all.map(&:name), prompt: 'Role'
        .flex.items-end.justify-end.mt-4
          .d-flex.align-items-center.justify-content-end.gap-2 
            %a{class: 'btn btn-outline-primary btn-sm', href: users_path } annuler
            = f.submit 'recherche', class: 'btn btn-primary btn-sm'
    

  .card.my-2
    = render 'shared/card/card_header', title: 'Utilisateurs', header_cta: true do
      = render IconButtonComponent.new(title: 'Ajouter', path: new_user_path, icon: 'fas fa-plus')
    .card-body 
      %table.table.table-striped.table-hover.align-middle
        %thead
          %tr
            %td= sort_link @q, :first_name, t('activerecord.attributes.user.first_name')
            %td= sort_link @q, :last_name, t('activerecord.attributes.user.last_name')
            %td= sort_link @q, :role_name, t('activerecord.attributes.user.role')
            %td.text-end= t('action.once')
        %tbody#Users
          != render partial: 'user', collection: @users