%aside{class: 'd-flex flex-column flex-shrink-0 p-3 text-white bg-dark '}
  .py-4.text-gray-500 
    = link_to 'SecuriParc', root_path, class: 'ml-6 text-lg font-bold text-gray-800'

    %nav.mt-2
      %ul.nav.nav-pills.flex-column.mb-auto
        = render NavitemComponent.new(title: 'Tableau de Bord', icon: 'fas fa-tachometer-alt', path: root_path, active: controller_name == 'dashboard')
        = render NavitemComponent.new(title: 'Utilisateurs', icon: 'fas fa-users', path: users_path, active: controller_name == 'users')
  .d-flex.flex-column.align-items-center.justify-content-center.gap-2.mt-auto
    - if current_user
      %p= current_user.full_name
      = render RoleBadgeComponent.new(role: current_user.role.name)
